<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.icecream.demo.IceCreamShopApp"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/icecream_app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.IceCreamShop.ActionBar">

        <!-- Ice Cream Shop Activities -->
        <activity
            android:name="com.icecream.demo.IceCreamMainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.IceCreamShop.ActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.icecream.demo.CartActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.IceCreamShop.ActionBar"
            android:parentActivityName="com.icecream.demo.IceCreamMainActivity" />
            
        <activity
            android:name="com.icecream.demo.CheckoutActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.IceCreamShop.ActionBar"
            android:parentActivityName="com.icecream.demo.CartActivity" />

    </application>

</manifest>
